%p Although the name of this tag may be a bit confusing, it will simply look at the current page and output the contents of the tag if the context of the radius tag is
%ul
  %li the current page, or
  %li an ancestor of the current page
%p A typical use of this would be to output a 'class' for HTML navigation to display that the website visitor has selected a particular section of the site.